{% extends "base.html" %}  <!-- Extends a base template: "base.html" -->

{% load static %}  <!-- Load static files for this template -->

{% block title %} Change Password {% endblock %}  <!-- Title of this page -->

{% block content %}  <!-- Content block for this template -->
<div class="container  mt-5 mb-4">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <h1 class="mb-4 text-center">Change Password</h1>  <!-- Page title -->
            <form method="POST">  <!-- Form with POST method -->

                {% csrf_token %}  <!-- CSRF token for security -->

                <!-- Old Password input field -->
                <div class="form-control mb-3">
                    {{ form.old_password}}
                    <label class="form-label mb-3" for="oldassword">Old Password</label>
                    {% if form.errors.old_password%}  <!-- Check for form errors -->
                    {% for error in form.errors.old_password %}
                    <p class="text-danger">{{ error }}</p>  <!-- Display validation errors -->
                    {% endfor%}
                    {%endif%}
                </div>

                <!-- New Password input field -->
                <div class="form-control mb-3">
                    {{ form.new_password1}}
                    <label class="form-label" for="newPassword1">New Password</label>
                    {% if form.errors.new_password1%}  <!-- Check for form errors -->
                    {% for error in form.errors.new_password1 %}
                    <p class="text-danger">{{ error }}</p>  <!-- Display validation errors -->
                    {% endfor%}
                    {%endif%}
                </div>

                <!-- Repeat New Password input field -->
                <div class="form-control mb-3">
                    {{ form.new_password2}}
                    <label class="form-label" for="newPassword2">Repeat Same Password</label>
                    {% if form.errors.new_password2 %}  <!-- Check for form errors -->
                    {% for error in form.errors.new_password2 %}
                    <p class="text-danger">{{ error }}</p>  <!-- Display validation errors -->
                    {% endfor%}
                    {%endif%}
                </div>

                <!-- Password guidelines -->
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Password</h5>
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-primary"> Confirm </button>  <!-- Submit button for the form -->

            </form>

        </div>
    </div>
</div>

{% endblock %}  <!-- End of the content block -->
