{% extends "base_guest.html" %}  <!-- Extends a base template: "base_guest.html" -->

{% load static %}  <!-- Load static files for this template -->

{% block title %} Login {% endblock %}  <!-- Title of this page -->

{% block content %}  <!-- Content block for this template -->

<div class="container mt-5 w-40">  <!-- Start of the main container -->
    <div class="flex flex-sm-row d-sm-flex justify-content-between ">  
        <div class="col-4 d-none d-sm-block">
            <img src="https://res.cloudinary.com/dugavbmql/image/upload/v1695046729/wepik-export-20230918141652fZZR_cmastr.jpg"
                class="">  <!-- Image source -->
        </div>
        <div class="col-12 col-sm-6 text-dark" style="height: 814px;">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h4 class="text-uppercase text-center">Login</h2>  <!-- Page title -->
                        <form method="POST">  <!-- Form with POST method -->
                            {% csrf_token %}  <!-- CSRF token for security -->
                            <div class="form-floating mb-3">
                                <input type="text" id="typeUsername" name="username"
                                    class="form-control form-control-lg" />  <!-- Username input field -->
                                <label class="form-label" for="typeUsername">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" id="typePasswordX" name="password"
                                    class="form-control form-control-lg" />  <!-- Password input field -->
                                <label class="form-label" for="typePasswordX">Password</label>
                            </div>

                            {% if form.errors %}  <!-- Checks for form errors -->
                            {% for error in form.errors %}
                            <p class="text-danger">Username or password incorrect</p>  <!-- Display an error message -->
                            {% endfor %}
                            {% endif %}

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Login
                                    </button>  <!-- Submit button for the form -->
                            </div>
                            <hr class="my-4">
                            <div>
                                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}"
                                        class="text-success fw-bold">Sign Up</a></p>  <!-- Link to the registration page -->
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>  <!-- End of the main container -->

{% endblock %}  <!-- End of the content block -->
