{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <section class="vh-100 gradient-custom" style="background-color: rgba(106, 17, 203, 1);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-dark text-white" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg px-5">Register</button>
                                </div>
                            </form>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                    href="{% url 'login' %}" class="fw-bold text-white"><u>Login here</u></a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}