{% extends "base_guest.html" %}  <!-- Extends a base template: "base_guest.html" -->

{% load static %}  <!-- Load static files for this template -->

{% block title %} Error {% endblock %}  <!-- Title of this page -->

{% block content %}  <!-- Content block for this template -->

<div class="container mt-5 w-40">  <!-- Start of the main container -->
    <div class="flex flex-sm-row d-sm-flex justify-content-between ">  
        <div class="col-12 col-sm-6">
            <img src="https://res.cloudinary.com/dugavbmql/image/upload/v1695046729/wepik-export-20230918141652fZZR_cmastr.jpg"
                class="img-fluid"> <!-- Image source -->
        </div>
        <div class="col-12 col-sm-6 text-dark" style="height: 814px;">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h4 class="text-uppercase text-center">Woops!
                        Something went wrong :(</h2>  <!-- Page title -->
                        
                </div>
            </div>
        </div>
    </div>
</div>  <!-- End of the main container -->

{% endblock %}  <!-- End of the content block -->
