{% extends 'base.html' %}
{% load static %}
{% block title %} Comment on Blog Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">

    <h1 class="mb-4 text-center">Add Comment</h1>

    <form method="POST"  class="form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-center">
            <button type= "submit" class= "btn btn-primary btn-sm">Submit</button>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>
</div>

{% else %}
<div>
    You are not authorised for this activity! Please login to your profile.
</div>
<a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
{% endif %}

{% endblock %}