{% extends 'base.html' %}
{% block title %} Create a New Blog Category! {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">

    <h1 class="mb-4 text-center">Add Category</h1>

    <form method="POST" class="form">
        {% csrf_token %}

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ form.category_name.id_for_label }}">Category Name:</label>
                {{ form.category_name }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
            <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Back</a>
        </div>
    </form>
</div>

{% else %}
<div>
    You are not authorised for this activity! Please log in to your profile.
</div>

<a href="{% url 'account_signup' %}" class="btn btn-primary btn-sm">Register</a>
<a href="{% url 'account_login' %}" class="btn btn-primary btn-sm">LogIn</a>


{% endif %}

{% endblock %}