{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container  mt-5 mb-4">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <h1 class="mb-4 text-center">Categories</h1>
            <table class="table" id="category_list">
                <thead class="table-light">
                    <tr>            
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list_menu %}
                        <tr>
                            <td><a class="text-dark" href="{% url 'category' cats=category.category_name|slugify %}">{{ category.category_name }}</a></td>

                            <td>
                                {% if user.is_staff %}
                                    <a class="text-dark" href="{% url 'edit_category' slug=category.category_name|slugify %}"><i class="fas fa-edit mr-2"></i> Edit</a>                            
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_staff %}                
                                    <form method="post" data-title="Delete category {{category.category_name}}" action="{% url 'delete_category' slug=category.category_name|slugify %}" class="delete-button">
                                        {% csrf_token %}
                                        <button class="btn btn-danger btn-sm"  data-title="Delete category {{category.category_name}}">
                                            <i class="fa fa-trash mr-2"></i> Delete
                                        </button> 
                                    </form>                                                            
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}                        
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
