{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">

            <div class="col-md-12">
                <div class="col-12 text-center">
                    <h1 class="heading-1  text-bold text-center">{{category.category_name}}: Posts</h1>
                    <p class="fs-18 text-white text-bold d-none d-md-block"></p>
                </div>
                {% for post in category_posts %}
                    <article class="postcard light yellow">
                        <a class="postcard__img_link" href="{% url 'post_detail' post.slug %}">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="postcard__img"
                                src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1688827561/Porject%204%20Travel%20Blog/pexels-vojta-kova%C5%99%C3%ADk-3243090_lpneiv.jpg">
                            {% else %}
                            <img class="postcard__img" src=" {{ post.featured_image.url }}" alt="Image Title">
                            {% endif %}
                        </a>
                        <div class="postcard__text t-dark">
                
                            <div>
                                <a href="{% url 'show_user_profile_page' post.author.userprofile.id%}" class="text-bold text-dark text-decoration-underline">
                                    {% if post.author.userprofile.profile_picture.url == '' %}
                                    <img src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1691407204/Porject%204%20Travel%20Blog/male-user-shadow_318-34042_eotvtf.avif"
                                        class="rounded-circle me-3" height="50px" width="50px" alt="avatar">
                                    {% else%}
                                    <img src="{{ post.author.userprofile.profile_picture.url }}" class="rounded-circle me-3"
                                        height="50px" width="50px" alt="avatar">
                                    {% endif%}
                
                                    {{ post.author.userprofile.user.first_name }} {{ post.author.userprofile.user.last_name }}
                                </a>
                
                
                                <time datetime="2020-05-25 12:00:00">
                                    <i class="fas fa-clock mr-2"></i><span class="ms-2">{{ post.last_modified }}</span>
                                </time>
                            </div>
                            <a class="text-bold h4 text-dark" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">{{ post.body_content| truncatewords_html:50| safe }}</div>
                            <ul class="list-inline d-sm-flex my-0">
                                {% for category in post.categories.all %}                
                                    <li class="list-inline-item g-mr-20">
                                        <span class="badge bg-secondary"> 
                                            <i class="fas fa-tag mr-2"></i> 
                                            {{category}}
                                        </span>
                                    </li>
                                {%endfor%}
                            </ul>
                            <div class="mt-3">
                                <hr class="style1">
                                <form method="POST" action="{% url 'like_dislike_post' pk=post.pk %}">
                                    {% csrf_token %}
                                    <ul class="list-inline d-sm-flex my-0">
                                        <li class="list-inline-item g-mr-20">
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                                <i class="far fa-heart text-danger"></i>
                                                {{ post.number_of_likes }}
                                            </a>
                                        </li>
                                        <li class="list-inline-item g-mr-20 ms-2">
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                                <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                                {{ post.number_of_dislikes }}
                                            </a>
                                        </li>
                                        <li class="list-inline-item ml-auto ms-2">
                                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover open-comments"
                                                id="open-comments" href="#" data-post="{{post.id}}">
                                                <i class="far fa-comments text-info"></i> {{ post.comments.count }}
                                            </a>
                                        </li>
                                    </ul>
                                </form>
                
                            </div>
                        </div>
                
                    </article>
                    <div class="container d-none comments" id="comments_{{post.id}}">
                        <div class="be-comment-block">
                            <h1 class="comments-title">Comments ({{ post.comments.count }})</h1>
                            {% for comment in post.comments.all %}
                            <div class="be-comment">
                                <div class="be-img-comment">
                                    <a href="blog-detail-2.html">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                                    </a>
                                </div>
                                <div class="be-comment-content">
                
                                    <span class="be-comment-name">
                                        <a href="blog-detail-2.html">{{ comment.author }}</a>
                                    </span>
                                    <span class="be-comment-time">
                                        <p class="mt-2">{{ comment.date_posted }}</p>
                                    </span>
                
                                    <div class="be-comment-text bg-white">
                                        <p>
                                            {{ comment.body_content | linebreaks }}
                                        </p>
                
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                        </div>
                    </div>

                {% endfor %}
            </div>

    </div>

</div>

{% endblock %}

