{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 mb-4">
        <div class="col-12 col-sm-12 text-dark" style="height: 814px;">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="mb-4 text-center">Edit Category</h1>
                    {% if user.is_staff %}                
                    <a href="{% url 'edit_category' slug=category.slug %}"></a>
                    <form method="POST" id="form_update_category">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" id="categoryName" name="category_name" class="form-control" value="{{ category.category_name }}">
                            <label class="form-label" for="categoryName">Category Name</label>
                        </div> 
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" id="update_category" type="submit">Update</button>
                        </div>                                                                           
                    {% else %}
                        <h3 class="text-center text-dark">
                            You are not authorized for this activity! Please contact the admin.
                        </h3>    
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
