{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="container py-2" id="post-lists">
    {% if post_list %}
    <div class="h1 text-center text-dark" id="pageHeaderTitle">Travel Posts</div>
    <div class="container mt-4 mb-4">
        <div class="row justify-content-md-center">
            <div class="mb-3 w-40">

                <form id="categoryForm">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="flex-glow-1 flex-fill">
                            <select class="form-select form-select-sm" name="category" data-placeholder="Select Categories" id="small-bootstrap-class-multiple-field" multiple>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="ms-2 mt-3 mt-md-0">
                            <button class="btn btn-block btn-primary text-white" type="submit">Apply</button>
                            <a type="button" class="btn btn-secondary" href="{% url 'home' %}">Reset</a>
                        </div>
                    
                    </div>
            
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="h3 text-center text-dark" id="pageHeaderTitle">Not Posts yet</div>
    {% endif %}

    {% for post in post_list %}
    <article class="postcard light yellow">
        <a class="postcard__img_link" href="{% url 'post_detail' post.slug %}">
            {% if "placeholder" in post.featured_image.url %}
            <img class="postcard__img"
                src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1688827561/Porject%204%20Travel%20Blog/pexels-vojta-kova%C5%99%C3%ADk-3243090_lpneiv.jpg">
            {% else %}
            <img class="postcard__img rounded img-fluid" src=" {{ post.featured_image.url }}" alt="Image Title">
            {% endif %}
        </a>
        <div class="postcard__text text-dark">
            <div>
                <a href="{% url 'show_user_profile_page' post.author.userprofile.id%}"
                    class="text-bold text-dark text-decoration-underline">
                    {% if post.author.userprofile.profile_picture.url == '' %}
                    <img src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1691407204/Porject%204%20Travel%20Blog/male-user-shadow_318-34042_eotvtf.avif"
                        class="rounded-circle me-3" height="50px" width="50px" alt="avatar">
                    {% else%}
                    <img src="{{ post.author.userprofile.profile_picture.url }}" class="rounded-circle me-3"
                        height="50px" width="50px" alt="avatar">
                    {% endif%}

                    {{ post.author.userprofile.user.first_name }} {{ post.author.userprofile.user.last_name }}
                </a>


                <time datetime="2020-05-25 12:00:00">
                    <i class="fas fa-clock mr-2"></i><span class="ms-2">{{ post.last_modified }}</span>
                </time>
            </div>
            <a class="text-bold h4 text-dark mt-3" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">{{ post.body_content| truncatewords_html:50| safe }}</div>
            <ul class="list-inline d-sm-flex my-0">
                {% for category in post.categories.all %}
                <li class="list-inline-item g-mr-20">
                    <span class="badge bg-secondary">
                        <i class="fas fa-tag mr-2"></i>
                        {{category}}
                    </span>
                </li>
                {%endfor%}
            </ul>
            <div class="mt-3">
                <hr class="style1">
                <form method="POST" action="{% url 'like_dislike_post' pk=post.pk %}">
                    {% csrf_token %}

                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-end ">
                        <div>
                            <button type="submit" class="btn btn-link" name="like">
                                <i class="far fa-heart text-danger"></i> {{ post.number_of_likes }}
                            </button>
                        </div>
                        <div class="me-3">
                            <button type="submit" class="btn btn-link" name="dislike">
                                <i class="far fa-thumbs-down text-primary"></i> {{ post.number_of_dislikes }}
                            </button>
                        </div>
                        <div class="me-3">
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover open-comments"
                            id="open-comments" href="#" data-post="{{post.id}}">
                            <i class="far fa-comments text-info"></i> {{ post.comments.count }}
                        </a>
                        </div>
                    </div>
                    {% else %}
                    Please log in to like the post!
                    {% endif %}
                </form>

            </div>
        </div>

    </article>
    <div class="container d-none comments" id="comments_{{post.id}}">
        <div class="be-comment-block">
            <h1 class="comments-title">Comments ({{ post.comments.count }})</h1>
            {% for comment in post.comments.all %}
            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="blog-detail-2.html">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">

                    <span class="be-comment-name">
                        <a href="blog-detail-2.html">{{ comment.author }}</a>
                    </span>
                    <span class="be-comment-time">
                        <p class="mt-2">{{ comment.date_posted }}</p>
                    </span>

                    <div class="be-comment-text bg-white">
                        <p>
                            {{ comment.body_content | linebreaks }}
                        </p>

                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        </div>
    </div>

    {% endfor %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>
{% else %}
<div class="container mb-3">
    <h5 class="text-center row">
        To access this page you have to be logged in. Please log in to your profile.
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'register' %}" class="btn btn-primary btn-sm">Register</a>
        <a href="{% url 'login' %}" class="btn btn-primary btn-sm ms-2">Log In</a>
    </div>
    
</div>
{% endif %}
{%endblock%}