{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="text-center mb-4 mt-4">
        <div class="container mt-md-3">
            <div class="user text-center">
                <div class="profile">
                    {% if post.author.userprofile.profile_picture.url == '' %}
                    <img src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1691407204/Porject%204%20Travel%20Blog/male-user-shadow_318-34042_eotvtf.avif"
                        class="rounded-circle" width="80">
                    {% else%}
                    <img src="{{ post.author.userprofile.profile_picture.url }}" class="rounded-circle" width="100px">
                    {% endif%}

                </div>

                <a href="{% url 'show_user_profile_page' post.author.userprofile.id%}"
                    class="text-dark mt-10 h6"><u>{{ post.author }}</u></a>

                <h2 class="text-dark mt-10">{{ post.title }}</h2>
                <time datetime="2020-05-25 12:00:00" class="mt-2">
                    <i class="fas fa-clock mr-2"></i><span class="ms-2">{{ post.created_on}}</span>
                </time>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="card mb-4">
            <div class="card-img-top">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1688827561/Porject%204%20Travel%20Blog/pexels-vojta-kova%C5%99%C3%ADk-3243090_lpneiv.jpg"
                    width="100%">
            {% else %}
                <img src="{{ post.featured_image.url }}" class="rounded img-fluid">
            {% endif %}
            </div>
        
            <div class="card-body">
                <p class="card-text">
                    {{ post.body_content|safe }}
                </p>

                <form method="POST" action="{% url 'like_dislike_post' pk=post.pk %}">
                    {% csrf_token %}

                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-end ">
                        <div>
                            <button type="submit" class="btn btn-link" name="like">
                                <i class="far fa-heart text-danger"></i> {{ post.number_of_likes }}
                            </button>
                        </div>
                        <div class="me-3">
                            <button type="submit" class="btn btn-link" name="dislike">
                                <i class="far fa-thumbs-down text-primary"></i> {{ post.number_of_dislikes }}
                            </button>
                        </div>
                        <div class="me-3">
                            <strong class="text-secondary text-center btn">
                                <i class="far fa-comments text-info"></i> {{ post.comments.count }}
                            </strong>
                        </div>
                    </div>
                    {% else %}
                    Please log in to like the post!
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">

            <div class="row">
                <div class="col-md-12 card mb-4 mt-3">
                    <h3 class="mb-3 text-center">Comments:</h3>
                    <div class="card-body">
                        {% if not post.comments.all %}
                        <p class="text-center">
                            No comments yet... <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                        </h3>
                
                        {% else %}
                        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                        {% for comment in post.comments.all %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="font-weight-bold mb-0">
                                    <strong> {{ comment.author }} </strong>
                                    <span class="text-muted font-weight-normal">
                                        {{ comment.date_posted }}
                                    </span> wrote:
                                </p>
                                <p class="mt-2">{{ comment.body_content | linebreaks }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
        
            {% if user.is_authenticated and user.id == post.author.id %}
                <div class="d-flex flex-row-reverse mb-4" id="post_actions">
                    <a href="{% url 'home' %}" class="btn btn-primary btn-sm ">Back</a>
                    <a href="{% url 'edit_post' post.slug %}" class="btn btn-secondary btn-sm me-3">Edit</a>
                    <form method="post" action="{% url 'delete_post' post.slug %}" class="delete-button me-3" data-title="Delete post {{post.title}}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-edit mr-2"></i> Delete
                        </button>       
                    </form>   
                </div>
            {% endif %}
        </div>
 
</div>


{% endblock content %}