{% extends 'base.html' %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/doyc0uqcs/image/upload/v1688827561/Porject%204%20Travel%20Blog/pexels-vojta-kova%C5%99%C3%ADk-3243090_lpneiv.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">
                    {{ post.body_content|safe }}
                </p>
                <!-- post_detail.html -->
                <form method="POST" action="{% url 'like_dislike_post' pk=post.pk %}">
                    {% csrf_token %}

                {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-1">
                            <button type="submit" class="btn btn-link" name="like">
                                <i class="far fa-heart text-danger"></i> {{ post.number_of_likes }}
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-link" name="dislike">
                                <i class="far fa-thumbs-down text-primary"></i> {{ post.number_of_dislikes }}
                            </button>
                        </div>
                        <div class="col-1">
                            <strong class="text-secondary">
                                <i class="far fa-comments text-info"></i> {{ comments.count }}
                            </strong>
                        </div>
                    </div>
                {% else %}
                    Please log in to like the post!
                {% endif %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4 mt-3">
                <h3 class="mb-3">Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="font-weight-bold mb-0">
                                {{ comment.name }}
                                <span class="text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <p class="mt-2">{{ comment.body | linebreaks }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <div>
                <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Back</a>
                <a href="{% url 'edit_post' post.slug %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="{% url 'delete_post' post.slug %}">Delete</a>
            </div>
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body">
                    <!-- For later -->
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>


    {% endblock content %}